# Coding Interview

# Data Engineering
/Data_Engineering/ESP32_Connection_With_FastAPI/venv_LFR

# Data Science

# Kaggle

# Machine Learning Engineering
/Machine_Learning_Engineering/CPU_vs_GPU/CPU/venv
/Machine_Learning_Engineering/CPU_vs_GPU/GPU/venv