# Data Engineering
/Data_Engineering/ESP32_Connection_With_FastAPI/venv_LFR

# Machine Learning Engineering
/Machine_Learning_Engineering/CPU_vs_GPU/CPU/venv
/Machine_Learning_Engineering/CPU_vs_GPU/GPU/venv